
.chat-container {
    position: fixed;
    margin-left: 215px;
    padding: 30px;
    min-height: 90vh;
    background-color: white;
    margin-top: 0px;
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;          
    border-bottom: 1px solid gainsboro;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.chat-header {
    flex: 1;
    margin-bottom: 20px;
    width: 670px;
}

.chat-header h5 {
    margin: 0;
}

.chat-header input {
    margin-top: 10px;
}
.link{
    height:50px;
    width:50px;
}
.send1-button{
    cursor: pointer;
    margin-top: 10px;
    background-color: #43d79e;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 84vh; 
        overflow: hidden;
    border-left: 1px solid gainsboro;
    margin-top: -30px;
}
.doctor-name{
    margin-left: 50px;
  font-size: 12px;
  margin-top: -18px;

}
.ho1{
    display: flex;
}
.color-height{
    color:white;
    margin-top: 600px;
}
.height-no-chat{
    margin-top: 270px;
    padding-left: 85px;
}
.message-time{
    font-size: 10px;
    font-size: 10px;
  display: flex;
  justify-content: end;
  margin-left: 20px;
}

.chat-head {
    flex: 0 0 auto; 
        margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    margin-left: -12px;
}
.user-message{
    display: flex;
    justify-content: flex-start;
}
.chat-heading {
    font-size: 15px;
    margin-top: 5px;
}


.messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; 
    flex: 1; 
    padding-right: 10px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.message.sent {
    justify-content: flex-end; 
}

.message.received {
    justify-content: flex-start; 
}

.chat-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.message.sent .chat-message {
    background-color:#d6f7ea;
font-size: 12px;
}

.message.received .chat-message {
    background-color:#f7f5f5;
    font-size: 12px;

}

.message-input {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid gainsboro;
    margin-left: -12px;
}

textarea.form-control {
    max-width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-left: 12px;
}

.send-button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.send-button:hover {
    background-color: #0056b3;
}
