.waves-header {
    display: flex;
    text-align: center;
}

.waves-header h2{
    color: #292929;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
}


#wave-container{
    background-color:#ffff;
    gap: 20px;
    margin-left: 0px;
    width: 940px;
    height: auto;
    border-radius: 11px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 11px;
    padding-left: 20px;
}


#wave-img-container{
    background-color: #bea370;
    display: flex;
    gap: 20px;
    height: 110px;
    margin-left: -20px;
    margin-bottom: 35px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    z-index: 0;
}

#wave-username{
    margin-top: 40px;
}

#wave-label{
    color: #3c3d3e;
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 10px;
}


#wave-image-input{
    border-radius: 5px;
    border: 1px solid rgba(62, 86, 119, 0.2);
    background-color: #ffff;
    width: 900px;
    height: 40px;
    color: #535c61;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
}

#wave-message-input {
    border-radius: 5px;
    border: 1px solid rgba(62, 86, 119, 0.2);
    background: #fff;
    width: 900px;
    height: 50px;
    color: #535c61;
    font-size: 20px;
    outline: none;
    margin-top: 15px;
    margin-bottom: -5px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    resize: none;
}



#search-wave {
    width: 900px;
    height: 35px;
    padding: 5px 0px 5px 15px;
    display: flex;
    border-radius: 100px;
    border: 1px solid #a9a9a9;
    background: #fff;
    margin-top: auto;
    margin-bottom: auto;
}

#input-search-wave {
    font-size: 18px;
    font-weight: 400;
    padding-left: 35px;
    border: none;
    outline-style: none;
    width: 840px;
    border-radius: 20px;
}



#wave-history-container {
    display: flex;
    margin-right: 30px;
    border-radius: 11px;
    /* background: #eee6e6; */
    width: 900px;
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: -4px;
    background-color: #EEF5F6;
    align-items: center;
}


#wave-history-container img {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 1px solid #ccc; 
  }

#user-name {
    font-size: 16px;
    color: #BB8E01;
    font-weight: 700;
}

#wave-message {
    color: #535C61;
    font-weight: 600;
    line-height: 21px;
    position: absolute;
    top: 5px;
}
.create-wave-background-text{
    color: #B89C67;
    position: absolute;
    top: 14%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 126px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    z-index: 0;
}

#invited-user-detail {
    line-break: anywhere;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    width: 80%;
    margin-top: 5px;
    position: relative;
    left: 0px;
}



